.closetPageLandingSection {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50vh;
}

.closetPageCard {
  display: flex;
  flex-direction: row;
  min-width: 400px;
  width: auto;
  padding: 2rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 1.5rem;
  font-family: "HelveticcaRegular";
  border-radius: 1rem;
  background-color: rgb(0, 0, 0);
}

.closetPagePFP {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 10rem;
  justify-content: center;
  padding: 1rem;
}

.closetPageDetails {
  min-width: 50%;
  width: fit-content;
  height: 10rem;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-evenly;
  align-items: flex-start;
}

.closetPageDetailsKey {
  font-family: "HelveticcaRegular";
  color: #888;
  font-size: 1.5rem;
}

.closetPageDetailsValue {
  font-family: "HelveticcaRegular";
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.1rem;
  margin-top: 2rem;
}

.card {
  max-width: 300px;
  /* border: 1px solid #eaeaea; */
  border-radius: 10px;
  padding: 0.5rem;
  height: min-content;
  text-align: center;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  /* transition: box-shadow 0.1s ease, transform 0.1s ease; */
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  /* margin-bottom: 1rem; */
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.1);
}

/* Mobile */
@media (max-width: 700px) {

  .closetPageLandingSection {
    height: 85vh;
  }
  .closetPageCard {
    top: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    min-width: auto;
  }

  .closetPagePFP {
    align-items: center;
  }
}
