.suggestionsModalSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border-radius: 50px; */
  /* background-color: rgba(0, 0, 0, 0.685); */
  /* backdrop-filter: blur(10px); */
  /* height: 100vh; */
}

.suggestionsModalHeading {
  font-family: "HelveticcaBold";
  font-size: 1.5rem;
  color: white;
  padding: 1.5rem;
}

.promptTabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: space-evenly;
  /* gap: 1.5rem; */
}

.suggestionsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.autoGPT {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.764);
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: 80%;
  border-radius: 0.5rem;
  padding: 1rem;
}

.autoGPTFooter {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: white;
  align-items: center;
  justify-content: space-between;
}


.signUpInput {
  color: inherit;
  text-decoration: none;
  height: 3.5rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.157);
  /* font-family: ArticulatCF-DemiBold; */
  font-size: 1rem;
  /* background: transparent; */
  padding-left: 1rem;
  border: transparent;
  color: white;
  font-family: sans-serif;
  outline: none;
}

.signUpButton {
  font-size: 1rem;
  text-decoration: none;
  border: none;
  background-color: black;
  /* background: linear-gradient(0deg, rgb(0, 0, 0), rgb(47, 47, 47) 95%) no-repeat; */
  color: #fdfdfd;
  border-radius: 0.45rem;
  padding: 1rem;
  outline: none;
}

.suggestionBox {
  display: flex;
  flex-direction: row;
  width: fit-content;
  min-width: fit-content;
  height: min-content;
  padding: 0.8rem;
  text-align: center;
  justify-content: center;
  font-size: small;
  border-radius: 5rem;
  color: white;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.suggestionsFooter {
  width: 100%;
  max-width: 700px;
  height: 6rem;
  position: fixed;
  bottom: 4%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* padding: 1rem; */
  background-color: black;
  color: white;
  border-radius: 0.75rem;
  z-index: 8;
  cursor: pointer;
}

.suggestionsModal {
  position: fixed;
  bottom: 10%;
  width: 100%;
  max-width: 700px;
  height: 24rem;
  background: #1c1c1c8c;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.119);
  backdrop-filter: blur(5px);
  padding: 1rem;
  font-size: 1rem;
  font-family: sans-serif;
  border-radius: 0.75rem;
  z-index: 9;
  transition: all 0.15s ease;

  -webkit-animation: scale-out-ver-bottom 0.5s ease-in reverse both;
	        animation: scale-out-ver-bottom 0.5s ease-in reverse both;
  /* -webkit-animation: scale-out-ver-bottom 0.5s ease-in both; */
	        /* animation: scale-out-ver-bottom 0.5s ease-in both; */
}

/* ----------------------------------------------
 * Generated by Animista on 2023-4-15 13:32:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-out-ver-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes scale-out-ver-bottom {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
}
@keyframes scale-out-ver-bottom {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
}


/* Mobile */
@media (max-width: 700px) {
  .suggestionBox {
    font-size: 0.7rem;
  }
}